.collectionPreview{
 
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  .title {
    font-size: 28px;
    margin-bottom: 25px;
	margin-left: 0.5%;
  }

  .preview {
	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	
  }
}